{{#if shortURL}}
  <h3 class='text-white'>縮網址成功，請使用以下連結：</h3>
  <h1 class='text-white' id='shortURL'>{{shortURL}}</h1>
  <button type='button' class='btn btn-primary' id='btn-copy'>複製網址</button>
{{/if}}